@import url(https://fonts.googleapis.com/css?family=Raleway:300i,400,500,600,700);
.landing-page-container {
  height: 100%;
  width: 100%;
  font-family: "Raleway", sans-serif; }

#landing-page-nav {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 10%;
  opacity: 0.7;
  display: flex;
  align-items: center;
  justify-content: flex-end; }

.landing-page-hero {
  height: 700px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222226; }

video {
  min-width: 100%;
  min-height: 100%;
  object-fit: fill;
  height: 100%;
  width: 100%; }

#nav-links {
  color: #fff;
  padding-right: 100px; }

.router-nav-links {
  color: #fff;
  opacity: 0.9; }

.nav-links-li {
  display: inline-block;
  list-style: none;
  margin-left: 100px;
  font-size: 1.2em; }

.out-of-focus {
  color: #8f9294;
  transition-duration: 0.4s; }

.nav-links-li:hover {
  color: #42e8f4;
  cursor: pointer; }

#quote {
  position: absolute;
  color: #fff;
  font-size: 50px;
  margin: 0px 0px 0px 0px;
  text-align: center;
  width: 70%;
  font-weight: lighter; }

main {
  width: 100%;
  height: 3500px; }

#image-container {
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center; }

#profile-pic {
  top: 510px;
  height: 350px;
  width: 370px;
  position: absolute;
  display: block;
  border-radius: 60%;
  border: 1px solid #222226; }

#intro-section {
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  border-bottom: 1px solid #000;
  padding-bottom: 0px; }

#name {
  margin: 0px 0px 0px;
  font-size: 3em;
  font-weight: 500;
  text-align: center; }

#title {
  margin: 10px 0px 0px 0px;
  font-size: 2em;
  font-weight: 100;
  text-align: center; }

#about-me {
  height: 15%;
  padding: 30px 0px 10px;
  width: 80%;
  margin: 0 auto; }

#about-me-title {
  margin: 0;
  text-align: center;
  font-size: 2.2em;
  font-weight: 500;
  height: 10%; }

#titles-text1 {
  height: 45%;
  margin: 0;
  text-align: left;
  font-size: 1.8em;
  font-weight: 400;
  padding: 20px 0px 0px; }

#titles-text2 {
  margin: 0;
  text-align: left;
  font-size: 1.8em;
  font-weight: 400;
  height: 45%; }

#skills {
  height: 50%;
  width: 80%;
  margin: 0 auto; }

#skills-title {
  text-align: center;
  font-size: 2.2em;
  font-weight: 500;
  height: 5%;
  margin: 0; }

#skills-box {
  width: 100%;
  height: 95%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px 0px 0px; }

.logo-box {
  height: 15%;
  width: 15%;
  margin: 0px 25px; }

.logo-container {
  height: 70%;
  width: 100%; }

.skill-name {
  height: 30%;
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  margin: 0;
  padding-top: 10px; }

#link-to-portfolio {
  width: 100%;
  height: 10%; }

#portfolio-button-link {
  width: 20%;
  height: 30%;
  display: block;
  margin-bottom: 100px; }

#ltp-button {
  height: 100%;
  width: 100%;
  background-color: inherit;
  color: #000;
  font-size: 1.2em;
  border: 3px solid #000; }

#ltp-button:hover {
  cursor: pointer;
  background-color: #222226;
  color: #fff;
  border: 0; }

#portfolio-icon {
  height: 23px;
  width: 23px;
  position: relative;
  top: 3px;
  right: 10px; }

#ltp-text {
  text-align: center;
  height: 30%;
  font-size: 2.2em;
  margin: 0;
  font-weight: 500; }

#ltp-button-box {
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

#education {
  width: 100%;
  margin: 0 auto;
  height: 15%;
  background-color: #EDEEEF;
  padding: 30px 0px 30px; }

#education-title {
  margin: 0;
  text-align: center;
  font-size: 2.2em;
  font-weight: 500;
  height: 10%; }

#school-info-box {
  width: 100%;
  height: 60%;
  display: flex; }

#school-info-box-left {
  width: 50%;
  height: 100%; }

#school-info-box-right {
  width: 50%;
  height: 100%; }

#school-title {
  margin: 40px 0px 0px;
  height: 5%;
  font-size: 1.5em;
  font-weight: 500;
  text-decoration: underline;
  text-align: right;
  padding-right: 50px; }

#school-date {
  margin: 15px 0px 0px;
  height: 5%;
  font-size: 1.2em;
  font-weight: 400;
  text-align: right;
  padding-right: 50px; }

#achieved {
  margin: 40px 0px 0px;
  height: 5%;
  font-size: 1.5em;
  font-weight: 500;
  text-decoration: underline; }

#achieved-text {
  margin: 20px 0px 0px;
  height: 40%;
  font-size: 1.5em;
  padding-right: 40px; }

#school-link-box {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center; }

#school-url {
  border: 3px solid #000;
  background-color: inherit;
  height: 55%;
  width: 20%;
  display: block;
  color: #000;
  text-decoration: none;
  font-size: 1.2em;
  padding-top: 25px;
  font-weight: 400;
  margin: 0 auto 100px;
  text-align: center; }

#school-url:hover {
  color: #fff;
  background-color: #222226; }

#landing-page-footer {
  width: 100%;
  height: 400px;
  background-color: #222226;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

#footer-links {
  margin: 0px 0px 50px 0px; }

.footer-links-li {
  color: #fff;
  list-style: none;
  display: inline-block;
  margin-left: 70px;
  margin-right: 70px;
  font-size: 1.2em; }

#footer-social-media {
  height: 50px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center; }

.social-media-icons {
  height: 50px;
  width: 50px;
  margin: 0px 50px; }

.social-media-icons:hover {
  cursor: pointer; }
