@import url(https://fonts.googleapis.com/css?family=Raleway:300i,400,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Tangerine);
.landing-page-container {
  height: 100%;
  width: 100%;
  font-family: "Raleway", sans-serif; }

/*----------------------------------------
>>>>>>>>  NAV & HEADER - BEGIN  <<<<<<<<
----------------------------------------*/
#landing-page-nav {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 80px;
  opacity: 0.9;
  display: flex;
  align-items: center;
  justify-content: flex-end; }

.landing-page-hero {
  height: 700px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222226; }

video {
  min-width: 100%;
  min-height: 100%;
  object-fit: fill;
  height: 100%;
  width: 100%; }

#nav-links {
  color: #fff;
  padding-right: 100px; }

.router-nav-links {
  color: #fff;
  opacity: 0.9;
  margin-left: 80px; }

.nav-links-li {
  display: inline-block;
  list-style: none;
  font-size: 0.9em; }

.out-of-focus {
  color: #8f9294;
  transition-duration: 0.4s; }

.nav-links-li:hover {
  color: #42e8f4;
  cursor: pointer; }

#landing-page-quote {
  position: absolute;
  color: #fff;
  font-size: 60px;
  margin: 0;
  text-align: center;
  width: 80%;
  font-weight: lighter;
  font-family: "Tangerine", cursive; }

#landing-page-title {
  font-weight: lighter;
  position: absolute;
  color: #fff;
  opacity: 0.9;
  margin: 0;
  font-size: 85px;
  width: 95%;
  text-align: center;
  margin-top: 80px; }

/*----------------------------------------
>>>>>>>>  NAV & HEADER - END  <<<<<<<<
----------------------------------------*/
#landingpage-main {
  width: 100%;
  height: 3250px; }

#profile-pic {
  height: 300px;
  width: 315px;
  display: block;
  border: 2px solid #222226; }

#intro-section {
  height: 13%;
  display: flex;
  width: 100%;
  background-color: #EDEEEF; }

#intro-section-left {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center; }

#intro-section-right {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

#name {
  margin: 0;
  font-size: 2em;
  font-weight: 500;
  text-align: left;
  width: 90%; }

#title {
  width: 90%;
  margin: 10px 0px 0px;
  font-size: 1.5em;
  font-weight: 100;
  text-align: left;
  padding-right: 130px; }

#about-me {
  height: 14%;
  padding: 90px 0px 10px;
  width: 80%;
  margin: 0 auto; }

#about-me-title {
  margin: 0;
  text-align: center;
  font-size: 2em;
  font-weight: 500;
  height: 10%; }

#titles-text1 {
  height: 90%;
  margin: 0;
  text-align: center;
  font-size: 1.5em;
  font-weight: 400;
  padding: 20px 0px 0px; }

#skills {
  height: 40%;
  width: 80%;
  margin: 0 auto; }

#skills-title {
  text-align: center;
  font-size: 2em;
  font-weight: 500;
  height: 5%;
  margin: 0; }

#skills-box {
  width: 100%;
  height: 95%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px 0px 0px; }

.logo-box {
  height: 15%;
  width: 15%;
  margin: 0px 25px; }

.logo-container {
  height: 60%;
  width: 100%; }

.skill-name {
  height: 40%;
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  margin: 0;
  padding-top: 10px; }

#link-to-portfolio {
  width: 100%;
  height: 13%; }

#portfolio-button-link {
  width: 20%;
  height: 25%;
  display: block;
  margin-bottom: 200px; }

#ltp-button {
  height: 100%;
  width: 100%;
  background-color: inherit;
  color: #000;
  font-size: 1em;
  border: 3px solid #000; }

#ltp-button:hover {
  cursor: pointer;
  background-color: #222226;
  color: #fff;
  border: 0; }

#portfolio-icon {
  height: 20px;
  width: 20px;
  position: relative;
  top: 3px;
  right: 10px; }

#ltp-text {
  text-align: center;
  height: 30%;
  font-size: 2em;
  margin: 0;
  font-weight: 500; }

#ltp-button-box {
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

#education {
  width: 100%;
  margin: 0 auto;
  height: 20%;
  background-color: #EDEEEF;
  padding: 70px 0px; }

#education-title {
  margin: 0;
  text-align: center;
  font-size: 2em;
  font-weight: 500;
  height: 10%; }

#school-info-box {
  width: 100%;
  height: 60%;
  display: flex; }

#school-info-box-left {
  width: 50%;
  height: 100%; }

#school-info-box-right {
  width: 50%;
  height: 100%; }

#school-title {
  margin: 40px 0px 0px;
  height: 5%;
  font-size: 1.5em;
  font-weight: 500;
  text-decoration: underline;
  text-align: right;
  padding-right: 50px; }

#school-date {
  margin: 15px 0px 0px;
  height: 5%;
  font-size: 1.2em;
  font-weight: 400;
  text-align: right;
  padding-right: 50px; }

#achieved {
  margin: 40px 0px 0px;
  height: 5%;
  font-size: 1.5em;
  font-weight: 500;
  text-decoration: underline; }

#achieved-text {
  margin: 20px 0px 0px;
  height: 40%;
  font-size: 1.5em;
  width: 70%; }

#school-link-box {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center; }

#school-url {
  border: 3px solid #000;
  background-color: inherit;
  height: 50%;
  width: 20%;
  display: block;
  color: #000;
  text-decoration: none;
  font-size: 1em;
  padding-top: 25px;
  font-weight: 400;
  margin: 0 auto 10px;
  text-align: center; }

#school-url:hover {
  color: #fff;
  background-color: #222226; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.fade-in {
  opacity: 0;
  /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s; }

.fade-in.one {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s; }

@media screen and (max-width: 1060px) {
  #landing-page-title {
    margin-top: 130px; }
  #intro-section-left {
    width: 50%; }
  #intro-section-right {
    width: 50%; } }

@media screen and (max-width: 650px) {
  #landing-page-quote {
    font-size: 55px;
    width: 95%; }
  #landing-page-title {
    font-size: 70px; }
  #landing-page-nav {
    background-color: #000;
    opacity: 0.7; }
  #nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0;
    width: 100%; }
  a.router-nav-links {
    margin: 0px 30px; }
  #profile-pic {
    height: 250px;
    width: 265px;
    margin: 0 auto; }
  #title {
    width: 95%;
    font-size: 1.3em;
    padding-right: 80px; }
  #name {
    font-size: 1.8em;
    width: 95%; }
  #intro-section-right {
    padding-left: 10px; } }

@media screen and (max-width: 510px) {
  #landing-page-quote {
    font-size: 45px; }
  #profile-pic {
    height: 170px;
    width: 160px; }
  #landing-page-title {
    font-size: 60px;
    margin-top: 100px; }
  a.router-nav-links {
    margin: 0px 20px; }
  #title {
    width: 95%;
    font-size: 1em;
    padding-right: 20px; }
  #name {
    font-size: 1.5em;
    width: 95%; } }

@media screen and (max-width: 450px) {
  #landing-page-quote {
    font-size: 35px; }
  #landing-page-title {
    font-size: 50px;
    margin-top: 80px; } }
