@import "../../styles/ralewayfont.scss";
@import "../../styles/colors.scss";
@import "../../styles/tangerinefont.scss";

.landing-page-container {
  height: 100%;
  width: 100%;
  font-family: $raleway;
}

/*----------------------------------------
>>>>>>>>  NAV & HEADER - BEGIN  <<<<<<<<
----------------------------------------*/
#landing-page-nav {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 10%;
  opacity: 0.7;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.landing-page-hero {
  height: 900px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222226;
}

video {
  min-width: 100%;
  min-height: 100%;
  object-fit: fill;
  height: 100%;
  width: 100%;
}

#nav-links {
  color: $white;
  padding-right: 100px;
}

.router-nav-links {
  color: $white;
  opacity: 0.9;
  margin-left: 100px;
}

.nav-links-li {
  display: inline-block;
  list-style: none;
  font-size: 1.2em;
}

.out-of-focus {
  color: $outoffocus;
  transition-duration: 0.4s;
}

.nav-links-li:hover {
  color: $datblue;
  cursor: pointer;
}

.quote {
  position: absolute;
  color: $white;
  font-size: 60px;
  margin: 0;
  text-align: center;
  width: 70%;
  font-weight: lighter;
  font-family: $tangerine;
}

#landing-page-title {
  font-weight: lighter;
  position: absolute;
  color: $white;
  opacity: 0.9;
  margin: 0;
  font-size: 90px;
  // background-color: pink;
  width: 70%;
  text-align: center;
  margin-top: 80px;
}

/*----------------------------------------
>>>>>>>>  NAV & HEADER - END  <<<<<<<<
----------------------------------------*/

#landingpage-main {
  width: 100%;
  height: 3450px;
}

#image-container {
  height: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $superlightgray;
}

#profile-pic {
  top: 730px;
  height: 350px;
  width: 370px;
  position: absolute;
  display: block;
  border-radius: 60%;
  border: 1px solid $datbeautifulcharcoal;
}

#intro-section {
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 0px;
  background-color: $superlightgray;
}

#name {
  margin: 0;
  font-size: 3em;
  font-weight: 500;
  text-align: center;
}

#title {
  margin: 10px 0px 0px;
  font-size: 2em;
  font-weight: 100;
  text-align: center;
}

#about-me {
  height: 12%;
  padding: 50px 0px 10px;
  width: 80%;
  margin: 0 auto;
}

#about-me-title {
  margin: 0;
  text-align: center;
  font-size: 2.2em;
  font-weight: 500;
  height: 10%;
}

#titles-text1 {
  height: 90%;
  margin: 0;
  text-align: center;
  font-size: 1.8em;
  font-weight: 400;
  padding: 20px 0px 0px;
}

#skills {
  height: 47%;
  width: 80%;
  margin: 0 auto;
}

#skills-title {
  text-align: center;
  font-size: 2.2em;
  font-weight: 500;
  height: 5%;
  margin: 0;
}

#skills-box {
  width: 100%;
  height: 95%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px 0px 0px;
}

.logo-box {
  height: 15%;
  width: 15%;
  margin: 0px 25px;
}

.logo-container {
  height: 60%;
  width: 100%;
}

.skill-name {
  height: 40%;
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  margin: 0;
  padding-top: 10px;
}

#link-to-portfolio {
  width: 100%;
  height: 13%;
}

#portfolio-button-link {
  width: 20%;
  height: 25%;
  display: block;
  margin-bottom: 200px;
}

#ltp-button {
  height: 100%;
  width: 100%;
  background-color: inherit;
  color: $black;
  font-size: 1.2em;
  border: 3px solid $black;
}

#ltp-button:hover {
  cursor: pointer;
  background-color: $datbeautifulcharcoal;
  color: $white;
  border: 0;
}

#portfolio-icon {
  height: 23px;
  width: 23px;
  position: relative;
  top: 3px;
  right: 10px;
}

#ltp-text {
  text-align: center;
  height: 30%;
  font-size: 2.2em;
  margin: 0;
  font-weight: 500;
}

#ltp-button-box {
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#education {
  width: 100%;
  margin: 0 auto;
  height: 15%;
  background-color: $superlightgray;
  padding: 30px 0px;
}

#education-title {
  margin: 0;
  text-align: center;
  font-size: 2.2em;
  font-weight: 500;
  height: 10%;
}

#school-info-box {
  width: 100%;
  height: 60%;
  display: flex;
}

#school-info-box-left {
  width: 50%;
  height: 100%;
}

#school-info-box-right {
  width: 50%;
  height: 100%;
}

#school-title {
  margin: 40px 0px 0px;
  height: 5%;
  font-size: 1.5em;
  font-weight: 500;
  text-decoration: underline;
  text-align: right;
  padding-right: 50px;
}

#school-date {
  margin: 15px 0px 0px;
  height: 5%;
  font-size: 1.2em;
  font-weight: 400;
  text-align: right;
  padding-right: 50px;
}

#achieved {
  margin: 40px 0px 0px;
  height: 5%;
  font-size: 1.5em;
  font-weight: 500;
  text-decoration: underline;
}

#achieved-text {
  margin: 20px 0px 0px;
  height: 40%;
  font-size: 1.5em;
  padding-right: 40px;
}

#school-link-box {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#school-url {
  border: 3px solid $black;
  background-color: inherit;
  height: 55%;
  width: 20%;
  display: block;
  color: $black;
  text-decoration: none;
  font-size: 1.2em;
  padding-top: 25px;
  font-weight: 400;
  margin: 0 auto 100px;
  text-align: center;
}

#school-url:hover {
  color: $white;
  background-color: #222226;
}


@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fade-in.one {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
}
