@import url(https://fonts.googleapis.com/css?family=Raleway:300i,400,500,600,700);
.project-card {
  width: 95%;
  height: 700px;
  margin: 100px auto;
  display: flex;
  -webkit-box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.75); }

.project-image {
  height: 100%;
  width: 40%; }

.project-info-box {
  height: 100%;
  width: 60%; }

.project-title {
  margin: 0;
  text-align: center;
  height: 10%;
  font-size: 28px;
  font-weight: 400;
  padding: 30px 0px 0px; }

.project-description-box {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

/*----------------------------------------
>>>>>>>>  project description section -left  <<<<<<<<
----------------------------------------*/
.pdb-left {
  height: 90%;
  width: 50%;
  padding: 20px;
  border-right: 1px solid #222226; }

.project-description-title {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  font-size: 18px;
  height: 10%;
  border-bottom: 1px solid #222226; }

.project-description-text {
  width: 80%;
  margin: 0 auto;
  font-size: 14px;
  height: 90%;
  padding: 20px 0px 0px;
  overflow: scroll; }

/*----------------------------------------
>>>>>>>>  PROJECT STACK SECTION - right  <<<<<<<<
----------------------------------------*/
.pdb-right {
  height: 90%;
  width: 50%;
  padding: 20px; }

.project-stack-title {
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  height: 10%;
  border-bottom: 1px solid #222226;
  width: 80%; }

.project-stack-ul {
  margin: 0;
  padding: 0;
  height: 90%;
  padding: 20px 0px 0px;
  overflow: scroll; }

.project-stack-li {
  width: 50%;
  margin: 10px auto;
  font-size: 14px; }

/*----------------------------------------
>>>>>>>>  PROJECT BUTTONS  <<<<<<<<
----------------------------------------*/
.projects-buttons-box {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; }

.project-links {
  display: block;
  text-decoration: none;
  border: 2px solid #000;
  width: 30%;
  height: 20%;
  margin: 15px 40px;
  text-align: center;
  padding: 18px;
  font-size: 14px;
  color: #000; }

.project-links:hover {
  background-color: #222226;
  color: #fff;
  border: 0;
  padding: 18px; }

@media screen and (max-width: 1000px) {
  .project-image {
    height: 35%;
    width: 100%; }
  .project-info-box {
    height: 65%;
    width: 100%; }
  .project-description-box {
    height: 65%;
    width: 100%; }
  .projects-buttons-box {
    width: 100%;
    height: 25%; }
  .project-title {
    height: 10%;
    font-size: 20px;
    padding: 15px 0px 0px; }
  .project-description-title {
    font-size: 15px;
    height: 12%; }
  .project-description-text {
    font-size: 12px;
    height: 88%;
    padding: 15px 0px 0px; }
  .project-stack-title {
    font-size: 15px;
    height: 12%; }
  .project-stack-ul {
    height: 88%;
    padding: 15px 0px 0px; }
  .project-stack-li {
    width: 50%;
    margin: 8px auto;
    font-size: 12px; }
  .project-links {
    height: 40%;
    margin: 15px 40px;
    padding: 15px;
    font-size: 12px; } }

@media screen and (max-width: 550px) {
  .project-links {
    font-size: 10px;
    padding: 15px 0px;
    width: 60%;
    margin: 15px 18px; } }

@media screen and (max-width: 450px) {
  .project-stack-title {
    font-size: 12px;
    width: 95%; }
  .project-description-title {
    font-size: 12px;
    width: 95%; }
  .project-description-text {
    font-size: 10px;
    padding: 10px 0px 0px; }
  .project-stack-ul {
    padding: 10px 0px 0px; }
  .project-stack-li {
    font-size: 10px; }
  .project-title {
    font-size: 20px;
    padding: 15px 0px 0px; }
  .project-links {
    font-size: 8px; } }

@media screen and (max-width: 450px) {
  .project-description-title {
    font-size: 10px; }
  .project-stack-title {
    font-size: 10px; } }
