@import url(https://fonts.googleapis.com/css?family=Raleway:300i,400,500,600,700);
.project-card {
  width: 90%;
  height: 800px;
  margin: 100px auto;
  display: flex;
  -webkit-box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.75); }

.project-image {
  height: 100%;
  width: 40%; }

.project-info-box {
  height: 100%;
  width: 60%; }

.project-title {
  margin: 0;
  text-align: center;
  height: 10%;
  font-size: 2em;
  font-weight: 400;
  padding: 30px 0px 0px; }

.project-description-box {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

/*----------------------------------------
>>>>>>>>  project description section -left  <<<<<<<<
----------------------------------------*/
.pdb-left {
  height: 90%;
  width: 50%;
  padding: 20px;
  border-right: 1px solid #222226; }

.project-description-title {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  font-size: 1.5em;
  height: 10%;
  border-bottom: 1px solid #222226; }

.project-description-text {
  width: 80%;
  margin: 0 auto;
  font-size: 1.1em;
  height: 90%;
  padding: 20px 0px 0px;
  overflow: scroll; }

/*----------------------------------------
>>>>>>>>  PROJECT STACK SECTION - right  <<<<<<<<
----------------------------------------*/
.pdb-right {
  height: 90%;
  width: 50%;
  padding: 20px; }

.project-stack-title {
  margin: 0 auto;
  text-align: center;
  font-size: 1.5em;
  height: 10%;
  border-bottom: 1px solid #222226;
  width: 80%; }

.project-stack-ul {
  margin: 0;
  padding: 0;
  height: 90%;
  padding: 20px 0px 0px; }

.project-stack-li {
  width: 50%;
  margin: 10px auto;
  font-size: 1.2em; }

/*----------------------------------------
>>>>>>>>  PROJECT BUTTONS  <<<<<<<<
----------------------------------------*/
.projects-buttons-box {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.project-links {
  display: block;
  text-decoration: none;
  border: 3px solid #000;
  width: 35%;
  height: 25%;
  margin: 15px 0px;
  text-align: center;
  padding: 25px;
  font-size: 1.2em;
  color: #000; }

.project-links:hover {
  background-color: #222226;
  color: #fff;
  border: 0; }
