@import url(https://fonts.googleapis.com/css?family=Raleway:300i,400,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Tangerine);
#portfolio-container {
  height: 100%;
  width: 100%;
  font-family: "Raleway", sans-serif; }

#portfolio-header {
  height: 700px;
  background-color: #222226;
  background-image: url(../../assets/sparklers.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  background-attachment: fixed; }

#portfolio-intro-box {
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

#portfolio-title {
  font-size: 90px;
  font-weight: 400;
  color: #fff;
  opacity: 0.9;
  width: 70%;
  text-align: center;
  margin: 0; }

#portfolio-main {
  width: 100%;
  height: 4650px; }

.portfolio-intro-text {
  font-size: 60px;
  font-weight: 400;
  color: #fff;
  opacity: 0.9;
  width: 70%;
  text-align: center;
  margin: 0;
  font-family: "Tangerine", cursive; }

#portfolio-description-box {
  background-color: #EDEEEF;
  height: 8%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

#pdb-title {
  width: 60%;
  text-align: center;
  height: 20%;
  font-weight: 500;
  font-size: 2em;
  margin: 50px 0px 0px 0px; }

#pdb-text {
  margin: 0;
  width: 70%;
  text-align: center;
  height: 50%;
  font-size: 1.5em; }

#projects-box {
  width: 100%;
  height: 90%;
  padding: 50px; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.fade-in {
  opacity: 0;
  /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 0.9s;
  -moz-animation-duration: 0.9s;
  animation-duration: 0.9s; }

.fade-in.one {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  animation-delay: 0.1s; }

@media screen and (max-width: 1000px) {
  .portfolio-intro-text {
    width: 95%; }
  #portfolio-title {
    width: 95%; }
  #pdb-title {
    width: 100%; }
  #pdb-text {
    margin: 0;
    width: 70%;
    text-align: center;
    height: 50%;
    font-size: 1.3em; }
  .project-card {
    flex-direction: column-reverse; } }

@media screen and (max-width: 750px) {
  .portfolio-intro-text {
    font-size: 55px; }
  #portfolio-title {
    font-size: 70px; } }

@media screen and (max-width: 650px) {
  .portfolio-intro-text {
    font-size: 45px; }
  #portfolio-title {
    font-size: 60px; }
  #pdb-title {
    font-size: 1.8em; }
  #pdb-text {
    font-size: 1.3em; } }

@media screen and (max-width: 530px) {
  #pdb-title {
    font-size: 1.5em; }
  #pdb-text {
    font-size: 1.1em; } }
