@import url(https://fonts.googleapis.com/css?family=Raleway:300i,400,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Tangerine);
#contact {
  width: 100%;
  height: 100%;
  font-family: "Raleway", sans-serif; }

#contact-header {
  height: 700px;
  width: 100%;
  background-image: url(../../assets/city-lights.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

#contact-quote-container {
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.contact-quote-text {
  opacity: 0.9;
  margin: 0;
  font-family: "Tangerine", cursive;
  color: #fff;
  font-size: 60px; }

#contact-quote {
  opacity: 0.9;
  margin: 0;
  color: #fff;
  font-size: 90px;
  font-weight: lighter; }

#contact-main {
  width: 100%;
  height: 1000px; }

#contact-main-intro {
  width: 100%;
  height: 30%;
  background-color: #EDEEEF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

#contact-main-intro-title {
  margin: 0 auto;
  width: 70%;
  text-align: center;
  height: 20%;
  font-weight: 500;
  font-size: 2em;
  padding: 0; }

#contact-main-intro-text {
  margin: 0 auto;
  width: 70%;
  text-align: center;
  height: 30%;
  font-size: 1.5em; }

#contact-main-form-container {
  width: 100%;
  height: 70%;
  background-image: url(../../assets/city-lights.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex; }

#form-container-left {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  opacity: 0.8; }

#form-container-right {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  opacity: 0.8; }

#form-container-left-wrapper {
  height: 90%;
  width: 90%;
  padding: 50px; }

.contact-info-boxes {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center; }

.contact-icon-containers {
  height: 30%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-end; }

.contact-info-text-container {
  height: 30%;
  width: 80%;
  border-left: 1px solid #fff;
  display: flex;
  align-items: center; }

.contact-info-text {
  color: #fff;
  margin: 0 auto;
  width: 93%;
  font-size: 1em; }

.contact-icons {
  height: 40px;
  width: 40px;
  margin-right: 15px; }

#form-wrapper {
  height: 85%;
  width: 85%;
  -webkit-box-shadow: 0px 0px 31px 1px #ddd3d5;
  -moz-box-shadow: 0px 0px 31px 1px #ddd3d5;
  box-shadow: 0px 0px 31px 1px #ddd3d5;
  display: flex;
  justify-content: center;
  align-items: center; }

#form-box {
  height: 90%;
  width: 75%;
  padding-left: 30px; }

#form-heading {
  width: 100%;
  height: 10%;
  text-align: center;
  font-size: 1.6em;
  color: #fff; }

#full-name {
  width: 100%;
  height: 5%;
  font-size: 0.9em;
  color: #fff;
  padding-top: 15px; }

#name-inputs-box {
  width: 100%;
  height: 15%; }

fieldset {
  display: none; }

legend {
  display: none; }

#first-last-name-input-box {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

.input-wrappers {
  width: 50%;
  height: 60%; }

label {
  display: block;
  width: 80%;
  margin-top: 5px;
  color: #fff;
  font-size: 0.8em; }

.name-inputs {
  width: 90%;
  height: 65%;
  display: block;
  font-size: 15px;
  padding-left: 10px;
  opacity: 0.9; }

#email-input-box {
  width: 100%;
  height: 15%;
  padding-top: 5px; }

#email-input-title {
  width: 90%;
  height: 35%;
  color: #fff;
  font-size: 0.9em; }

#email-input-tag {
  width: 95%;
  display: block;
  height: 38%;
  padding-left: 10px;
  font-size: 15px;
  opacity: 0.9; }

#message-textarea-box {
  width: 100%;
  height: 30%; }

#message-textarea-box-title {
  width: 100%;
  height: 10%;
  font-size: 0.9em;
  color: #fff; }

#message-textarea {
  height: 90%;
  width: 100%;
  padding-top: 10px; }

textarea {
  width: 95%;
  height: 130px;
  padding: 10px 0px 0px 10px;
  display: block;
  opacity: 0.9;
  resize: none;
  font-size: 15px; }

#submit-button-container {
  width: 95%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center; }

#submit-button {
  width: 35%;
  height: 30%;
  background-color: inherit;
  border: 2px solid #fff;
  color: #fff;
  font-size: 0.9em; }

#submit-button:hover {
  cursor: pointer;
  background-color: #fff;
  opacity: 0.9;
  color: #000; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.fade-in {
  opacity: 0;
  /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s; }

.fade-in.one {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s; }

@media screen and (max-width: 1000px) {
  #contact-main {
    width: 100%;
    height: 1500px; }
  .contact-quote-text {
    width: 95%;
    text-align: center; }
  #contact-quote {
    width: 95%;
    text-align: center; }
  #contact-main-intro {
    height: 20%; }
  #contact-main-intro-title {
    width: 95%;
    font-size: 1.8em; }
  #contact-main-intro-text {
    width: 95%;
    font-size: 1.3em; }
  #contact-main-form-container {
    flex-direction: column;
    height: 80%; }
  #form-container-left {
    width: 100%;
    height: 30%; }
  #form-container-left-wrapper {
    height: 95%;
    width: 95%;
    padding: 0px; }
  .contact-icon-containers {
    height: 100%;
    width: 35%; }
  .contact-info-text-container {
    height: 50%;
    width: 65%; }
  #form-container-right {
    width: 100%;
    height: 70%; }
  .contact-icons {
    height: 35px;
    width: 35px; } }

@media screen and (max-width: 850px) {
  .contact-quote-text {
    font-size: 55px; }
  #contact-quote {
    font-size: 70px; }
  #submit-button {
    width: 55%; } }

@media screen and (max-width: 650px) {
  #form-box {
    height: 90%;
    width: 90%;
    padding-left: 15px; }
  .contact-quote-text {
    font-size: 45px; }
  #contact-quote {
    font-size: 60px; }
  #contact-main-intro-title {
    font-size: 1.5em; }
  #contact-main-intro-text {
    font-size: 1.1em; }
  #form-heading {
    font-size: 1.3em; }
  #full-name {
    font-size: 0.7em;
    color: #fff;
    padding-top: 15px; }
  label {
    font-size: 0.6em; }
  #email-input-title {
    font-size: 0.7em; }
  #message-textarea-box-title {
    font-size: 0.7em; }
  #submit-button {
    font-size: 0.7em; }
  .contact-info-text {
    font-size: 0.8em; } }
